<form method="POST" name="delete" action="./delete">
  <input name="id" type="hidden" value="{{selectedEntries._id}}">
  <input type="submit" value="Да">
  <a href="/"><button>Отмена</button></a>
</form>
